.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important;
  /* 默认情况下缩进左侧66px，只留一点箭头部分 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important;
  /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}

.aplayer-miniswitcher .aplayer-icon svg {
  background-color: var(--global-bg) !important;
}


/* 侧边栏个人信息卡片动态渐变色 */
#aside-content>.card-widget.card-info,#aside-content>.card-widget.card-announcement{
  background: linear-gradient(-45deg,
      #e8d8b9,
      #eccec5,
      #5386bd,
      #bdbdf0,
      #eec1ea);
  /* box-shadow: 0 0 5px rgb(66, 68, 68); */
  opacity: 0.9;
  position: relative;
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite !important;
}
.announcement_content_font {
  color:#000;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* 黑夜模式适配 */
[data-theme="dark"] #aside-content>.card-widget.card-info,[data-theme="dark"] #aside-content>.card-widget.card-widget.card-announcement{
  background: #191919ee;
  opacity: 0.7;
}
[data-theme="dark"] .announcement_content_font {
  color:#3eb8be;
}


/* 个人信息Follow me按钮 */
#aside-content>.card-widget.card-info>#card-info-btn {
  background-color: #3eb8be;
  border-radius: 8px;
}

/* 加载动画头像 */
.loading-img {
  background: url(../img/main/avatar.jpg) no-repeat center center;
  background-size: cover;
}

/* 波浪css */
.main-hero-waves-area {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -11px;
  z-index: 5;
}
.waves-area .waves-svg {
  width: 100%;
  height: 5rem;
}
/* 波浪 css Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  fill: #f7f9fe1f;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
  fill: #f7f9fe1a;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
  fill: #f7f9fe1b;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  fill: #f7f9fe17;
}
/* 波浪 css 黑色模式背景 */
[data-theme="dark"] .parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  fill: #18171d35;
}
[data-theme="dark"] .parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
  fill: #18171d32;
}
[data-theme="dark"] .parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
  fill: #18171d2f;
}
[data-theme="dark"] .parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  fill: #18171d33;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/* 波浪css Shrinking for mobile*/
@media (max-width: 768px) {
  .waves-area .waves-svg {
    height: 40px;
    min-height: 40px;
  }
}

/* 头像摸鱼 */
.card-info-avatar .author-status-box {
  position: absolute;
  bottom: 0;
  left: calc(100% - 28px);
  width: 28px;
  height: 28px;
  border: 1px solid #d0d7de;
  border-radius: 2em;
  background-color: #f8f8f8f8;
  transition: 0.4s;
  overflow: hidden;
}

[data-theme="dark"] .card-info-avatar .author-status-box {
  background-color: #222222f2;
  border: 1px solid #5c6060;
}

.card-info-avatar .author-status-box .author-status {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  padding: 0 5px;
}

.card-info-avatar .author-status-box:hover {
  width: 105px;
}

.card-info-avatar .author-status-box:hover .author-status span {
  width: 105px;
  margin-left: 4px;
}

.card-info-avatar .author-status-box .author-status span {
  width: 0;
  font-size: 12px;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 0.4s;
}

.card-widget .card-info-avatar {
  display: inline-block;
  position: relative;
}


/* 日夜间切换 */
.dayNightSwitch {
  opacity: .65;
  cursor: pointer;
  padding-left: 14px;
}

.dayNightSwitch .onOff {
  background: #324164;
  width: 65px;
  height: 25px;
  border-radius: 25px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .1);
  border: 2px solid #1e2d50;
  overflow: hidden;
  position: relative
}

.dayNightSwitch .onOff * {
  transition: all .4s ease
}

.dayNightSwitch .onOff.daySwitch {
  border: 2px solid #52a6bf
}

.dayNightSwitch .onOff.daySwitch .sky {
  width: 65px;
  height: 25px;
  /* border-radius: 25px; */
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0, 0);
  animation: none !important
}

.dayNightSwitch .onOff.daySwitch .sunMoon {
  background: #ffdf61;
  border: 2px solid #d9b31c;
  left: calc(100% - 23px)
}

.dayNightSwitch .onOff.daySwitch .sunMoon .crater {
  transform: scale(0) !important
}

.dayNightSwitch .onOff.daySwitch .sunMoon .cloud {
  opacity: 1;
  transform: translatex(0);
  transition-delay: .2s;
  animation: cloudAnim 2.5s linear infinite
}

.dayNightSwitch .onOff .sunMoon {
  background: #f0e1a5;
  height: 16px;
  width: 16px;
  border-radius: 100%;
  border: 2px solid #ccc091;
  position: absolute;
  left: 3px;
  top: 2.5px
}

.dayNightSwitch .onOff .sunMoon .crater {
  background: #ccc091;
  width: 5px;
  height: 5px;
  border-radius: 13px;
  position: absolute;
  left: 50%;
  top: 20%
}

.dayNightSwitch .onOff .sunMoon .crater.crater1 {
  left: 30%;
  top: 45%;
  transform: scale(.5)
}

.dayNightSwitch .onOff .sunMoon .crater.crater2 {
  left: 55%;
  top: 60%;
  transform: scale(.7)
}

.dayNightSwitch .onOff .sunMoon .cloud {
  background: #fff;
  border-radius: 3px;
  position: absolute;
  opacity: 0;
  transform: translatex(-20px);
  transition-delay: 0s
}

.dayNightSwitch .onOff .sunMoon .cloud.part1 {
  width: 20px;
  height: 2px;
  left: -12px;
  top: calc(50% - 1.5px)
}

.dayNightSwitch .onOff .sunMoon .cloud.part1:before {
  content: "";
  background: #fff;
  border-radius: 3px;
  position: absolute;
  width: 3px;
  height: 3px;
  left: 40%;
  top: -100%
}

.dayNightSwitch .onOff .sunMoon .cloud.part1:after {
  content: "";
  background: #fff;
  border-radius: 3px;
  position: absolute;
  width: 15px;
  height: 2px;
  left: 20%;
  top: -200%
}

.dayNightSwitch .onOff .sunMoon .cloud.part2 {
  width: 3px;
  height: 3px;
  left: -1px;
  top: calc(50% + .3px)
}

.dayNightSwitch .onOff .sunMoon .cloud.part2:before {
  content: "";
  background: #fff;
  border-radius: 3px;
  position: absolute;
  width: 18px;
  height: 2px;
  left: -8px;
  top: 100%
}

.dayNightSwitch .onOff .star {
  background: #5ebedb;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(20px, 5px)
}

.dayNightSwitch .onOff .star.star1 {
  transform: translate(10px, 15px) scale(.3);
  animation: starAnim1 3s -2.4s linear infinite
}

.dayNightSwitch .onOff .star.star2 {
  transform: translate(15px, -7px) scale(.6);
  animation: starAnim2 3s -1.1s linear infinite
}

.dayNightSwitch .onOff .star.star3 {
  transform: translate(35px, -12px) scale(.9);
  animation: starAnim3 3s -1.5s linear infinite
}

.dayNightSwitch .onOff .star.star4 {
  transform: translate(30px, 12px) scale(.4);
  animation: starAnim4 3s -1.9s linear infinite
}

.dayNightSwitch .onOff .star.star5 {
  transform: translate(0, 0) scale(.6);
  animation: starAnim5 3s -2.8s linear infinite
}

.dayNightSwitch .onOff .star.sky {
  animation: skyAnim 3s -.4s linear infinite
}

@keyframes starAnim1 {
  0% {
    transform: translate(5px, 30px) scale(.3)
  }

  20% {
    transform: translate(8px, 17px) scale(.3)
  }

  50% {
    transform: translate(10px, 0) scale(.3)
  }

  80% {
    transform: translate(8px, -17px) scale(.3)
  }

  100% {
    transform: translate(5px, -30px) scale(.3)
  }
}

@keyframes starAnim2 {
  0% {
    transform: translate(10px, 30px) scale(.6)
  }

  20% {
    transform: translate(13px, 17px) scale(.6)
  }

  50% {
    transform: translate(15px, 0) scale(.6)
  }

  80% {
    transform: translate(13px, -17px) scale(.6)
  }

  100% {
    transform: translate(10px, -30px) scale(.6)
  }
}

@keyframes starAnim3 {
  0% {
    transform: translate(30px, 30px) scale(.9)
  }

  20% {
    transform: translate(33px, 17px) scale(.9)
  }

  50% {
    transform: translate(35px, 0) scale(.9)
  }

  80% {
    transform: translate(33px, -17px) scale(.9)
  }

  100% {
    transform: translate(30px, -30px) scale(.9)
  }
}

@keyframes starAnim4 {
  0% {
    transform: translate(25px, 30px) scale(.4)
  }

  20% {
    transform: translate(28px, 17px) scale(.4)
  }

  50% {
    transform: translate(30px, 0) scale(.4)
  }

  80% {
    transform: translate(28px, -17px) scale(.4)
  }

  100% {
    transform: translate(25px, -30px) scale(.4)
  }
}

@keyframes starAnim5 {
  0% {
    transform: translate(0, 30px) scale(.6)
  }

  20% {
    transform: translate(3px, 17px) scale(.6)
  }

  50% {
    transform: translate(5px, 0) scale(.6)
  }

  80% {
    transform: translate(3px, -17px) scale(.6)
  }

  100% {
    transform: translate(0, -30px) scale(.6)
  }
}

@keyframes skyAnim {
  0% {
    transform: translate(15px, 30px) scale(1)
  }

  20% {
    transform: translate(18px, 17px) scale(1)
  }

  50% {
    transform: translate(20px, 0) scale(1)
  }

  80% {
    transform: translate(18px, -17px) scale(1)
  }

  100% {
    transform: translate(15px, -30px) scale(1)
  }
}

@keyframes cloudAnim {

  0%,
  100% {
    transform: translatex(0)
  }

  14% {
    transform: translatex(5px)
  }

  56% {
    transform: translatex(-10px)
  }
}

/* 首页头图中间信息的css样式 */
#site-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  #site_avatar {
    display: inline-block;
    width: 110px;
    height: 110px;
    border-radius: 70px;
    cursor: pointer;
  }
}

.article-sort-item-img {
  border-radius: 5px;
}

/* 欢迎信息 */
#welcome-info {
  background: linear-gradient(45deg, #b9f4f3, #e3fbf9);
  border-radius: 18px;
  padding: 8px;
}
[data-theme="dark"] #welcome-info {
  background: #212121;
}