#page:has(#anMusic-page) {
    border: 0;
    box-shadow: none !important;
    padding: 0 !important;
    background: transparent !important;
  }
  #an_music_bg {
    display: none;
    filter: blur(63px);
    opacity: 0.6;
    position: fixed;
    z-index: -999;
    background-attachment: local;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    transform: rotate(0deg);
  }
  body:has(#anMusic-page) #an_music_bg {
    display: block;
  }
  
  body:has(#anMusic-page) {
    background: rgb(13, 13, 13);
  }
  
  #anMusic-page meting-js .aplayer {
    display: flex;
    flex-direction: row-reverse;
    background: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
  }
  
  body:has(#anMusic-page) #web_bg {
    display: none;
  }
  body:has(#anMusic-page) #footer,
  body:has(#anMusic-page) #nav-music {
    display: none;
  }
  
  #anMusic-page .aplayer-body {
    width: 40%;
    height: 75vh;
  }
  
  #anMusic-page ol > li:hover {
    background: #ffffff33;
    border-radius: 6px;
  }
  #anMusic-page .aplayer-pic {
    float: none;
    width: 180px;
    height: 180px;
    border-radius: 12px;
    margin: auto;
    left: 0;
    right: 0;
  }
  
  #anMusic-page .aplayer-info {
    margin: 0 20px 0 20px;
    border-bottom: none;
  }
  
  #anMusic-page .aplayer-info .aplayer-music {
    text-align: center;
    height: auto;
    margin: 15px;
  }
  
  #anMusic-page .aplayer-info .aplayer-music .aplayer-author,
  #anMusic-page .aplayer-info .aplayer-music .aplayer-title {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
  }
  
  #anMusic-page .aplayer-info .aplayer-lrc {
    height: 800%;
    mask-image: linear-gradient(to bottom, #000, #000, #000, #000, #000, #000, #000, #000, #000, #000, #0000, #0000);
  }
  #anMusic-page .aplayer-info .aplayer-lrc p {
    font-size: 20px;
    line-height: 20px!important;
    height: 20px!important;
    margin: 20px 0!important;
    color: #fff;
  }
  #anMusic-page .aplayer .aplayer-lrc:after,
  #anMusic-page .aplayer .aplayer-lrc:before {
    display: none;
  }
  
  /* 控制器 */
  #anMusic-page .aplayer-info .aplayer-controller {
    position: fixed;
    max-width: 1400px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 50px;
  }
  #anMusic-page .aplayer-info .aplayer-controller .aplayer-bar-wrap {
    margin: 0 160px 0 150px;
  }
  #anMusic-page .aplayer-info .aplayer-controller .aplayer-played {
    background: var(--anzhiyu-white) !important;
  }
  #anMusic-page .aplayer-info .aplayer-controller .aplayer-thumb {
    -webkit-transform: none;
    transform: none;
    background: #fff !important;
  }
  #anMusic-page .aplayer-info .aplayer-time .aplayer-icon-back,
  #anMusic-page .aplayer-info .aplayer-time .aplayer-icon-forward,
  #anMusic-page .aplayer-info .aplayer-time .aplayer-icon-play {
    display: inline;
    position: fixed;
  }
  #anMusic-page .aplayer-info .aplayer-time {
    position: absolute;
    width: 100%;
    bottom: 21px;
    height: 0;
    display: flex;
    justify-content: flex-end;
  }
  #anMusic-page .aplayer-info .aplayer-time .aplayer-time-inner {
    margin-right: 18px;
    margin-top: -8px;
  }
  #anMusic-page .aplayer-info .aplayer-time .aplayer-icon-back {
    position: absolute;
    left: 0;
  }
  #anMusic-page .aplayer-info .aplayer-time .aplayer-icon-play {
    position: absolute;
    left: 40px;
  }
  #anMusic-page .aplayer-info .aplayer-time .aplayer-icon-forward {
    position: absolute;
    left: 80px;
  }
  
  #anMusic-page .aplayer-info .aplayer-time .aplayer-icon {
    width: 2rem;
    height: 2rem;
    margin-left: 15px;
  }
  
  #anMusic-page .aplayer-info .aplayer-time .aplayer-icon-menu {
    display: none;
  }
  
  #anMusic-page .aplayer-info .aplayer-time .aplayer-icon path {
    fill: var(--anzhiyu-white);
    opacity: 0.8;
  }
  
  #anMusic-page .aplayer-list {
    width: 60%;
    max-height: none !important;
    height: 100%;
  }
  #anMusic-page ol {
    max-height: 75vh !important;
    padding-right: 25px;
  }
  #anMusic-page ol > li {
    border-top: 1px solid transparent;
    font-size: 14px;
  }
  #anMusic-page ol > li.aplayer-list-light {
    background: rgb(255 255 255 / 20%);
    border-radius: 6px;
    padding: 15px 15px;
  }
  
  #anMusic-page ol > li span {
    color: var(--anzhiyu-white);
  }
  
  #anMusic-page ol > li.aplayer-list-light .aplayer-list-cur {
    display: none;
  }
  #anMusic-page ol > li span.aplayer-list-author {
    opacity: 0.6;
  }
  
  /* 导航栏 */
  .page:has(#anMusic-page) #nav {
    backdrop-filter: none !important;
    background: 0 0 !important;
    border-bottom: none !important;
  }
  
  .page:has(#anMusic-page) #page-header.not-top-img #nav a,
  .page:has(#anMusic-page) #page-header #nav .back-home-button {
    color: var(--anzhiyu-white) !important;
  }

  .page:has(#anMusic-page) #page-header #nav .menus_item_child {
    background: rgba(0, 0, 0, 0.75)!important;

  }
  body:has(#anMusic-page) .s-sticker div {
    color: var(--anzhiyu-white) !important;
  }
  
  body:has(#anMusic-page) .aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon.aplayer-icon-loop {
    margin-right: 15px;
  }
  
  [data-theme="dark"] .page:has(#anMusic-page) #page-header:before {
    background-color: transparent;
  }
  
  /* **** 移动端样式 ***** */
  @media screen and (max-width: 768px) {
    body:has(#anMusic-page) #rightside {
      display: none;
    }
    body:has(#anMusic-page) #content-inner,
    body:has(#anMusic-page) #page {
      z-index: auto;
    }
    /* 歌曲列表 */
    #anMusic-page .aplayer-list {
      position: fixed;
      z-index: 1002;
      width: 100%;
      bottom: -76%;
      left: 0;
      background: var(--sidebar-bg);
      height: auto;
      border-radius: 15px 15px 0px 0px;
      padding: 15px 0px;
    }
    #anMusic-page .aplayer-list.aplayer-list-hide {
      bottom: 0% !important;
    }
    #anMusic-page ol {
      max-height: 60vh !important;
      padding-right: 0px;
    }
    #anMusic-page ol > li {
      display: flex;
      margin: 0 10px;
    }
    #anMusic-page ol > li span {
      color: var(--font-color);
    }
    #anMusic-page ol > li span.aplayer-list-title {
      width: 30%;
    }
    #anMusic-page ol > li.aplayer-list-light {
      background: #33a673;
      padding: 5px 20px;
      border-radius: 10px;
    }
    #anMusic-page ol > li.aplayer-list-light span {
      color: #fff;
    }
    #anMusic-page ol > li span.aplayer-list-title {
      max-width: 55%;
      width: auto;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      overflow: hidden;
      -webkit-box-orient: vertical;
    }
    #anMusic-page ol > li span.aplayer-list-author {
      position: absolute;
      right: 10px;
      width: auto;
      max-width: 35%;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      overflow: hidden;
      -webkit-box-orient: vertical;
    }
    #anMusic-page ol > li.aplayer-list-light span.aplayer-list-author {
      right: 15px;
    }
    /* 歌词信息 */
    #anMusic-page .aplayer-body {
      width: 100%;
  
      position: fixed;
      margin: auto;
      left: 0;
      right: 0;
      top: 100px;
    }
    #anMusic-page .aplayer-info .aplayer-lrc {
      margin-top: 40px;
      height: auto;
      max-height: 300%;
      min-height: 100%;
      mask-image: linear-gradient(to bottom, #000, #000, #000, #000, #0000, #0000);
    }
    #anMusic-page .aplayer-info .aplayer-lrc p.aplayer-lrc-current {
      color: #33a673;
    }
    /* 控制按键和进度条 */
    #anMusic-page .aplayer-info .aplayer-controller {
      width: 100%;
      bottom: 100px;
    }
    #anMusic-page .aplayer-info .aplayer-controller .aplayer-bar-wrap {
      margin: 0 30px;
    }
    #anMusic-page .aplayer-info .aplayer-time {
      bottom: -40px;
    }
    #anMusic-page .aplayer-info .aplayer-time .aplayer-time-inner {
      position: absolute;
      width: 100%;
      margin-right: 0;
      margin-top: -33px;
    }
    #anMusic-page .aplayer-info .aplayer-time .aplayer-time-inner .aplayer-dtime {
      position: absolute;
      right: 30px;
    }
    #anMusic-page .aplayer-info .aplayer-time .aplayer-time-inner .aplayer-ptime {
      position: absolute;
      left: 35px;
    }
    #anMusic-page .aplayer-info .aplayer-time .aplayer-icon-back {
      margin: auto;
      right: 110px;
    }
    #anMusic-page .aplayer-info .aplayer-time .aplayer-icon-play {
      margin: auto;
      right: 0;
      left: 0;
    }
    #anMusic-page .aplayer-info .aplayer-time .aplayer-icon-forward {
      margin: auto;
      left: 110px;
      right: 0;
    }
    #anMusic-page .aplayer-info .aplayer-time .aplayer-icon-order {
      position: absolute;
      left: 22px;
    }
    #anMusic-page .aplayer-info .aplayer-time .aplayer-icon-loop {
      position: absolute;
      right: 25px;
    }
    #anMusic-page .aplayer-info .aplayer-time .aplayer-icon-menu {
      display: inline;
      position: absolute;
      right: 25px;
      top: -90px;
    }
    #anMusic-page .aplayer-volume-bar-wrap {
      bottom: 0px;
      right: 7px;
    }
    #anMusic-page .aplayer .aplayer-info .aplayer-controller .aplayer-volume-wrap {
      left: -66px;
    }
  }

  #page-header.not-top-img #nav a, #page-header.not-top-img #nav .site-name {
    color: var(--anzhiyu-white)!important;
  }


  :root {
    --animation-on: cubic-bezier(0.6, 0.1, 0, 1);
    --animation-in: cubic-bezier(0.6, 0.2, 0.25, 1);
    --animation-ot: opacity 0.5s var(--animation-in) backwards,transform 1s var(--animation-in) backwards;
    --animation-otf: opacity 0.5s var(--animation-in) backwards,transform 1s var(--animation-in) backwards,filter 0.7s var(--animation-in) backwards;
    --anzhiyu-snackbar-time: 2000ms;
    --anzhiyu-deep-purple: #405589;
    --anzhiyu-meta-theme-color: #f7f9fe;
    --anzhiyu-bar-background: var(--anzhiyu-main);
    --anzhiyu-theme-op: rgba(66,89,239,0.137);
    --anzhiyu-card-bg-none: rgba(255,255,255,0);
    --anzhiyu-main-op-deep: var(--anzhiyu-theme-op-deep)!important;
    --anzhiyu-gray-op: rgba(153,153,153,0.169);
    --anzhiyu-theme-top: var(--anzhiyu-theme);
    --anzhiyu-white: #fff;
    --anzhiyu-white-op: rgba(255,255,255,0.2);
    --anzhiyu-black: #000;
    --anzhiyu-black-op: rgba(0,0,0,0.2);
    --anzhiyu-none: rgba(0,0,0,0);
    --anzhiyu-gray: #999;
    --anzhiyu-yellow: #ffc93e;
    --anzhiyu-orange: #e38100;
    --anzhiyu-blue-hover: #5390e6;
    --anzhiyu-radius-full: 50px;
    --anzhiyu-radius: 8px;
    --anzhiyu-border-radius: 8px;
    --anzhiyu-main: var(--anzhiyu-theme);
    --anzhiyu-main-op: var(--anzhiyu-theme-op);
    --anzhiyu-shadow-theme: 0 8px 12px -3px var(--anzhiyu-theme-op);
    --anzhiyu-shadow-main: 0 8px 12px -3px var(--anzhiyu-main-op);
    --anzhiyu-shadow-blue: 0 8px 12px -3px rgba(40,109,234,0.2);
    --anzhiyu-shadow-white: 0 8px 12px -3px rgba(255,255,255,0.2);
    --anzhiyu-shadow-black: 0 0 12px 4px rgba(0,0,0,0.05);
    --anzhiyu-shadow-yellow: 0px 38px 77px -26px rgba(255,201,62,0.12);
    --anzhiyu-shadow-red: 0 8px 12px -3px rgba(238,125,121,0.212);
    --anzhiyu-shadow-green: 0 8px 12px -3px rgba(135,238,121,0.212);
    --anzhiyu-shadow-border: 0 8px 16px -4px rgba(44,45,48,0.047);
    --anzhiyu-shadow-blackdeep: 0 2px 16px -3px rgba(0,0,0,0.15);
    --anzhiyu-logo-color: linear-gradient(215deg, #4584ff 0%, #cf0db9 100%);
    --anzhiyu-code-stress: var(--anzhiyu-main);
    --style-border: 1px solid var(--anzhiyu-card-border);
    --anzhiyu-blue-main: #425aef;
    --style-border-hover: 1px solid var(--anzhiyu-main);
    --style-border-dashed: 1px dashed var(--anzhiyu-theme-op);
    --style-border-avatar: 5px solid var(--anzhiyu-white);
    --style-border-always: 1px solid var(--anzhiyu-card-border);
    --style-border-none: 1px solid transparent;
    --style-border-deep-ash: 1px solid #d0d7de;
    --style-border-hover-always: 1px solid var(--anzhiyu-main);
    --anzhiyu-main-none: rgba(184,184,184,0)!important;
    --anzhiyu-wihite-font: #fff;
    --font-color: #fff;
}

[data-theme=light] {
    --anzhiyu-meta-theme-post-color: #fff;
    --anzhiyu-meta-theme-color: #f7f9fe;
    --anzhiyu-theme-op-deep: rgba(66,89,239,0.867);
    --global-bg: #f7f9fe;
    --anzhiyu-theme: #425aef;
    --anzhiyu-theme-deep: #1856fb;
    --anzhiyu-theme-op: rgba(66,89,239,0.137);
    --anzhiyu-blue: #5ca1ff;
    --anzhiyu-blue-tint: rgba(92,161,255,0.1);
    --anzhiyu-red: #d8213c;
    --anzhiyu-pink: #ff7c7c;
    --anzhiyu-green: #57bd6a;
    --anzhiyu-fontcolor: #363636;
    --anzhiyu-background: #f7f9fe;
    --anzhiyu-reverse: #000;
    --anzhiyu-maskbg: rgba(255,255,255,0.6);
    --anzhiyu-maskbgdeep: rgba(255,255,255,0.85);
    --anzhiyu-scrollbar: rgba(60,60,67,0.4);
    --anzhiyu-hovertext: var(--anzhiyu-theme);
    --anzhiyu-ahoverbg: #f7f7fa;
    --anzhiyu-lighttext: var(--anzhiyu-main);
    --anzhiyu-secondtext: rgba(60,60,67,0.8);
    --anzhiyu-scrollbar: rgba(60,60,67,0.4);
    --anzhiyu-card-btn-bg: #edf0f7;
    --anzhiyu-post-blockquote-bg: #fafcff;
    --anzhiyu-post-tabs-bg: #f2f5f8;
    --anzhiyu-secondbg: #f7f7f9;
    --anzhiyu-shadow-nav: 0 5px 12px -5px rgba(102,68,68,0.05);
    --anzhiyu-card-bg: #fff;
    --anzhiyu-shadow-lightblack: 0 5px 12px -5px rgba(102,68,68,0);
    --anzhiyu-shadow-light2black: 0 5px 12px -5px rgba(102,68,68,0);
    --anzhiyu-card-border: #e3e8f7;
    --anzhiyu-shadow-lightblack: 0 5px 12px -5px rgba(102,68,68,0);
    --anzhiyu-shadow-light2black: 0 5px 12px -5px rgba(102,68,68,0);
    --anzhiyu-wihite-font: #fff;
    --font-color: #fff;
}

[data-theme=dark] {
    --anzhiyu-meta-theme-post-color: #1d1e22;
    --anzhiyu-meta-theme-color: #000;
    --anzhiyu-blue: #5ca1ff;
    --anzhiyu-blue-tint: rgba(92,161,255,0.1);
    --anzhiyu-theme-op-deep: rgba(0,132,255,0.867);
    --global-bg: #18171d;
    --anzhiyu-theme: #f2b94b;
    --anzhiyu-theme-deep: #0076e5;
    --anzhiyu-theme-op: rgba(242,185,75,0.137);
    --anzhiyu-blue: #0084ff;
    --anzhiyu-red: #ff3842;
    --anzhiyu-pink: #ff7c7c;
    --anzhiyu-green: #57bd6a;
    --anzhiyu-fontcolor: #f7f7fa;
    --anzhiyu-background: #18171d;
    --anzhiyu-reverse: #fff;
    --anzhiyu-maskbg: rgba(0,0,0,0.6);
    --anzhiyu-maskbgdeep: rgba(0,0,0,0.85);
    --anzhiyu-hovertext: #0a84ff;
    --anzhiyu-ahoverbg: #fff;
    --anzhiyu-scrollbar: rgba(200,200,223,0.4);
    --anzhiyu-lighttext: #f2b94b;
    --anzhiyu-secondtext: #a1a2b8;
    --anzhiyu-scrollbar: rgba(200,200,223,0.4);
    --anzhiyu-card-btn-bg: #30343f;
    --anzhiyu-post-blockquote-bg: #000;
    --anzhiyu-post-tabs-bg: #121212;
    --anzhiyu-secondbg: #21232a;
    --anzhiyu-shadow-nav: 0 5px 20px 0px rgba(28,28,28,0.4);
    --anzhiyu-card-bg: #1d1e22;
    --anzhiyu-shadow-lightblack: 0 5px 12px -5px rgba(102,68,68,0);
    --anzhiyu-shadow-light2black: 0 5px 12px -5px rgba(102,68,68,0);
    --anzhiyu-card-border: #42444a;
    --anzhiyu-shadow-lightblack: 0 5px 12px -5px rgba(102,68,68,0);
    --anzhiyu-shadow-light2black: 0 5px 12px -5px rgba(102,68,68,0);
    --anzhiyu-wihite-font: #f6f6f6
}
